@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&family=Nunito:ital,wght@0,300;0,600;0,700;1,300&family=Open+Sans:wght@400;600;800&display=swap');
/*font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif;*/
:root {
  --clr-primary: #415167;
  --clr-brown: #c7a17a;
  --clr-white: #f9f5e8;
  --clr-dark-gray: #151d28;
  --clr-light-gray: #edf0f5;

  --ff-primary: 'Nunito', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
  --ff-large: 'Montserrat', sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fw-black: 900;

  --fs-large: 5.4rem;
  --fs-title: 3rem;
  --fs-accent: 2.4rem;
  --fs-subtitle: 2rem;
  --fs-primary: 1.6rem;
  --fs-sale: 1.4rem;
}

html {
  font-size: 62.5%;
}
body {
  font-family: var(--ff-primary);
  font-size: var(--fs-primary);
  color: rgba(35, 44, 56, 1);
  background-color: #f2f2f2;
}
.container {
  max-width: 1138px;
  width: 100%;
  margin: 0 auto;
}
.wrapper {
  position: relative;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  background-color: #f9fbff;
  overflow: hidden;
}
.bg {
  background-color: var(--clr-primary);
}
.text {
  font-weight: var(--fw-light);
  font-size: var(--fs-primary);
  line-height: 21.82px;
}
.title {
  font-family: var(--ff-large);
  font-size: var(--fs-title);
  color: var(--clr-primary);
  line-height: 34px;
  font-weight: var(--fw-black);
}
.subtitle {
  font-weight: var(--fw-semibold);
  line-height: 24px;
  color: var(--clr-primary);
  margin: 0px 0px 6px 0px;
}
.subtitle,
.price {
  font-size: var(--fs-subtitle);
}
.text_black {
  font-size: var(--fs-large);
}
.name {
  font-size: var(--fs-accent);
  font-weight: var(--fw-bold);
  line-height: 28px;
}
.price {
  color: var(--clr-brown);
  font-weight: var(--fw-semibold);
}
.sale {
  font-size: var(--fs-sales);
}
.block__text {
  margin: 0 auto 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*-----------------------------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul,
ol {
  padding: 0;
  list-style: none;
}
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}
button,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  border: none;
  background: inherit;
}
img {
  max-width: 100%;
  display: block;
}
/*-----------------------------------------------*/
.header {
  position: relative;
  display: grid;
}
.header > .container {
  display: flex;
  position: relative;
  justify-content: flex-end;
}
.header__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 50%;

  z-index: 0;
}

.header__nav {
  padding: 72px 0px 0px 0px;
  display: flex;
  max-height: 40px;
  max-width: 1037px;
  width: 100%;
  position: absolute;
  left: 0;
}
.nav__logo {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 40px;
  width: 124px;
}
.nav_logo {
}
.nav__cart {
  margin: 0px 0px 0px auto;
  height: 38px;
  width: 38px;
}
.nav_cart {
  height: 100%;
  width: 100%;
}
.nav__cart:hover {
  height: 24px;
  width: 24px;
}
.header__main {
  display: flex;
  align-items: center;
}
.header__main_img {
  position: relative;
  z-index: 10;
  max-width: 688px;
  width: 100%;
  max-height: 768px;
  height: 100%;
  margin: 0px 57px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--clr-primary);
}
.header_btn {
  position: absolute;
  border: none;
  border-radius: 50%;
  transform: translate(50%);
  height: 54px;
  width: 54px;
  background: var(--clr-light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_btn_triangle {
}
.header__main_text {
  position: absolute;
  left: 0;
  bottom: 64px;
  max-width: 484px;
  width: 100%;
  z-index: 20;
  font-family: var(--ff-large);
  font-size: var(--fs-large);
  font-weight: var(--fw-black);
  line-height: 70px;
  color: var(--clr-primary);
}
.header__text_first {
}
.header__text_second {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  color: var(--clr-light-gray);

  background: var(--clr-brown);
}

.header__text_third {
}
.header__main_menu {
  font-family: var(--ff-primary);
  font-size: var(--fs-primary);
  color: var(--clr-light-gray);
}
.header__menu_title {
  font-weight: var(--fw-bold);
  line-height: 22px;
}
.header__menu_text {
  font-weight: var(--fw-light);
  line-height: 24px;
  margin: 30px 0px 0px 0px;
}

.features {
  padding: 90px 0 127px 0;
}
.features__text {
  margin: 0px 0px 72px 0px;
}
.features__text_text {
  font-weight: var(--fw-light);
  line-height: 22px;
}
.features__text_title {
  font-weight: var(--fw-bold);
}
.features__items {
  margin: 0 17px;
  display: flex;
  gap: 66px;
}
.features__items_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.features__item_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 114px;
  width: 114px;
  margin: 0px 0px 25.1px 0px;
}
.features__item_text-content {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.features__item_text {
}
.features__item_title {
  line-height: 28px;
  margin: 0px 0px 12px 0px;
}
.coffe {
  display: grid;
  grid-template-columns: 384px 100%;
  position: relative;
}
.coffe > .container {
  margin: 0px 0px 0px -252px;
  padding: 90px 0 127px 0;
}
.coffe__bg {
  max-height: 900px;
  min-height: 900px;
}
.coffe__text {
}
.coffe__text_text {
}
.coffe__text_title {
}
.coffe__items {
  display: grid;
  grid-template-columns: repeat(3, 559px);
  grid-template-rows: repeat(2, 256px);
  max-height: 544px;
  height: 100%;
  position: relative;
  z-index: 22;
  gap: 30px 32px;
}
.coffe__items_item {
  max-height: 256px;
  min-height: 100%;
  background: #fff;
  display: flex;

  max-width: 559px;
  width: 100%;
}
.coffe__item_img {
  background: var(--clr-light-gray);
  max-width: 235px;
  width: 100%;
}
.coffe_img {
}
.coffe__item_content {
  margin: 42px;

  display: flex;

  flex-direction: column;
}
.coffe_price {
  margin: 0px 0px 8px 0px;
}
.coffe_name {
  margin: 0px 0px 24px 0px;
}
.coffe_desc {
  flex: 1 1 100%;
  margin: 0px 0px 18px 0px;
}
.coffe_btns {
  display: flex;
  justify-content: space-between;
  gap: 0 18px;
}
.coffe_btn {
}
.btn_buy {
  font-size: var(--fs-primary);
  font-weight: var(--fw-bold);
  color: var(--clr-light-gray);
  line-height: 21.82px;
  background-color: var(--clr-brown);
  width: 134px;
  height: 32px;
  border-radius: 19px;
}
.btn_info {
  font-size: var(--fs-primary);
  font-weight: var(--fw-bold);
  color: var(--clr-primary);
  line-height: 21.82px;
}
.coffe__arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  right: calc(-20px - 48px);
  background: var(--clr-brown);
  top: calc(50% - 17px);
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.coffe_arrow {
}
.giftset {
  display: grid;
  grid-template-columns: calc(100% - 324px) 100%;
}
.giftset > .container {
  padding: 90px 0 127px 0;
  position: relative;
  left: calc(-100% + 324px);
}
.giftset__bg {
  background: var(--clr-light-gray);
  position: relative;
}
.giftset__text {
}
.giftset__text_text {
}
.giftset__text_title {
}
.giftset__main {
}
.giftset__main_card {
  display: flex;
}
.giftset__card_img {
  position: relative;
  z-index: 1;
  height: 460px;
  max-width: 490px;
  width: 100%;
}
.giftset_img {
}
.giftset__card_content {
  position: relative;
  padding: 64px;
  background: #fff;
  display: flex;
  flex-direction: column;
}
.giftset__card_content::before {
  content: '';
  background-color: #fff;
  position: absolute;
  top: 0;
  left: -235px;
  width: 236px;
  height: 460px;
  z-index: 0;
}
.giftset__card_content::after {
  content: '';
  background-color: #edf0f5;

  width: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
.giftset__card_content > * {
  display: inline;
  max-width: 430px;
}
.giftset_price {
  line-height: 24px;
  margin: 0px 0px 12px 0px;
}
.giftset_name {
  margin: 0px 0px 12px 0px;
  line-height: 28px;
}
.giftset_desc {
  margin: 0px 0px 24px 0px;
  line-height: 21.82px;
}
.giftset__icons {
  display: flex;

  margin: 0px 0px 46px 0px;
}
.giftset__icons_item {
  margin: 0px 70px 0px 0px;
  display: flex;
  max-height: 40px;
}
.giftset__icons_item:last-child {
  margin: 0px 0px 0px 0px;
}
.giftset__icons_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  margin: 0px 12px 0px 0px;
}
.giftset_icon {
}
.giftset__icons_text {
  display: flex;
  flex-direction: column;
}
.giftset__icon_text {
  font-weight: var(--fw-semibold);
}

.giftset_btns {
  max-height: 38px;
  min-height: 38px;
  display: flex;
  justify-content: space-between;
}
.giftset_btn {
  max-height: 38px;
  height: 100%;
  max-width: 166px;
  width: 100%;
}
.giftset__card_side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 88px;
  width: 100%;
}
.giftset__side_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 33%;
  opacity: 0.3;
  background: #edf0f5;
}
.show {
  background: #fff;
  opacity: 1;

  position: relative;
  z-index: 10;
}
.combo {
  display: grid;
  grid-template-columns: 100% 326px;
}
.combo > .container {
  padding: 90px 0 127px 0;
  position: relative;
  max-width: 1138px;
  z-index: 19;
}
.combo__bg {
  margin-left: -100%;
  position: relative;
  z-index: 1;
}
.combo__text {
}
.combo__text_text {
}
.combo__text_title {
  font-weight: var(--fw-black);
}
.combo__items {
  display: grid;
  grid-template-columns: repeat(4, 360px);
  gap: 30px;
}
.combo__items_item {
  max-width: 360px;
  width: 100%;
  background: #fff;
}
.combo__item_img {
  background: var(--clr-light-gray);
}
.combo_img {
}
.combo__item_content {
}
.combo__content_price {
}
.combo_price {
}
.combo_sale {
}
.combo_name {
}
.combo_desc {
}
.combo_btns {
}
.combo_btn {
}
.combo__arrow {
}
.combo_arrow {
}
.footer {
}
.footer__text_text {
}
