@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&family=Nunito:ital,wght@0,300;0,600;0,700;1,300&family=Open+Sans:wght@400;600;800&display=swap');
/*font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif;*/
:root {
  --clr-primary: #415167;
  --clr-brown: #c7a17a;
  --clr-white: #f9f5e8;
  --clr-dark-gray: #151d28;
  --clr-light-gray: #edf0f5;

  --ff-primary: 'Nunito', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
  --ff-large: 'Montserrat', sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fw-black: 900;

  --fs-large: 5.4rem;
  --fs-title: 3rem;
  --fs-accent: 2.4rem;
  --fs-subtitle: 2rem;
  --fs-primary: 1.6rem;
  --fs-sale: 1.4rem;
}

html {
  font-size: 62.5%;
}
body {
  font-family: var(--ff-primary);
  font-size: var(--fs-primary);
  color: var(--clr-primary);
  background-color: #f2f2f2;
}
.container {
  max-width: 1138px;
  width: 100%;
  margin: 0 auto;
}
.wrapper {
  position: relative;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
.bg {
  background-color: var(--clr-primary);
}
.text {
  font-size: var(--fs-primary);
}
.title {
  font-family: var(--ff-large);
  font-size: var(--fs-title);
}
.subtitle,
.price {
  font-size: var(--fs-subtitle);
}
.text_black {
  font-size: var(--fs-large);
}
.name {
  font-size: var(--fs-accent);
}
.sale {
  font-size: var(--fs-sales);
}
.block__text {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.block__text:first-child {
  font-weight: var(--fw-semibold);
}
.block__text:last-child {
  font-weight: var(--fw-black);
}
/*-----------------------------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul,
ol {
  padding: 0;
  list-style: none;
}
body,
h1,
h2,
h3,
h4,
p,
button,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  display: block;
}
/*-----------------------------------------------*/
.header {
  max-height: 768px;
  height: 100%;
  position: relative;
}
.header > .container {
  display: flex;
  position: relative;
  justify-content: flex-end;
}
.header__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 50%;

  z-index: 0;
}

.header__nav {
  padding: 72px 0px 0px 0px;
  display: flex;
  max-height: 40px;
  max-width: 1037px;
  width: 100%;
  position: absolute;
  left: 0;
}
.nav__logo {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 40px;
  width: 124px;
}
.nav_logo {
}
.nav__cart {
  margin: 0px 0px 0px auto;
  height: 38px;
  width: 38px;
}
.nav_cart {
  height: 100%;
  width: 100%;
}
.nav__cart:hover {
  height: 24px;
  width: 24px;
}
.header__main {
  display: flex;
  align-items: center;
}
.header__main_img {
  position: relative;
  z-index: 10;
  max-width: 688px;
  width: 100%;
  max-height: 768px;
  height: 100%;
  margin: 0px 57px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--clr-primary);
}
.header_btn {
  position: absolute;
  border: none;
  border-radius: 50%;
  transform: translate(50%);
  height: 54px;
  width: 54px;
  background: var(--clr-light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_btn_triangle {
}
.header__main_text {
  position: absolute;
  left: 0;
  bottom: 64px;
  max-width: 484px;
  width: 100%;
  z-index: 20;
  font-family: var(--ff-large);
  font-size: var(--fs-large);
  font-weight: var(--fw-black);
  line-height: 70px;
}
.header__text_first {
}
.header__text_second {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  color: var(--clr-light-gray);

  background: var(--clr-brown);
}

.header__text_third {
}
.header__main_menu {
  font-family: var(--ff-primary);
  font-size: var(--fs-primary);
  color: var(--clr-light-gray);
}
.header__menu_title {
  font-weight: var(--fw-bold);
  line-height: 22px;
}
.header__menu_text {
  font-weight: var(--fw-light);
  line-height: 24px;
  margin: 30px 0px 0px 0px;
}
.main > * {
  margin: 90px 0px 0px 0px;
}
.features {
  margin: 90px 0px 128px 0px;
}
.features__text {
  margin: 0px 0px 72px 0px;
}
.features__text_text {
  font-weight: var(--fw-light);
  line-height: 22px;
}
.features__text_title {
  font-weight: var(--fw-bold);
  margin: 0px 0px 12px 0px;
  line-height: 28px;
}
.features__items {
  margin: 0 17px;
  display: flex;
  gap: 66px;
}
.features__items_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.features__item_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 114px;
  width: 114px;
  margin: 0px 0px 25.1px 0px;
}
.features__item_text {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.coffe {
  position: relative;
}
.coffe__bg {
  top: 0;
  bottom: 0;
  width: 390px;
  z-index: 0;
}
.coffe__text {
}
.coffe__text_text {
}
.coffe__text_title {
}
.coffe__items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  max-height: 544px;
  height: 100%;
  position: relative;
  z-index: 22;
  gap: 30px 32px;
}
.coffe__items_item {
  background: #fff;
  display: flex;
}
.coffe__item_img {
  background: var(--clr-light-gray); /*TODO*/
}
.coffe_img {
}
.coffe__item_content {
  display: flex;
  flex-direction: column;
}
.coffe_price {
}
.coffe_name {
}
.coffe_desc {
}
.coffe_btns {
}
.coffe_btn {
}
.btn_buy {
}
.btn_info {
}
.coffe__arrow {
}
.coffe_arrow {
}
.giftset {
}
.giftset__bg {
}
.giftset__text {
}
.giftset__text_text {
}
.giftset__text_title {
}
.giftset__main {
}
.giftset__main_card {
}
.giftset__card_img {
}
.giftset_img {
}
.giftset__card_content {
}
.giftset_price {
}
.giftset_name {
}
.giftset_desc {
}
.giftset__icons {
}
.giftset__icons_icon {
}
.giftset_btns {
}
.giftset_btn {
}
.giftset__card_side {
}
.giftset__side_btn {
}
.combo {
}
.combo__bg {
}
.combo__text {
}
.combo__text_text {
}
.combo__text_title {
}
.combo__items {
}
.combo__items_item {
}
.combo__item_img {
}
.combo_img {
}
.combo__item_content {
}
.combo__content_price {
}
.combo_price {
}
.combo_sale {
}
.combo_name {
}
.combo_desc {
}
.combo_btns {
}
.combo_btn {
}
.combo__arrow {
}
.combo_arrow {
}
.footer {
}
.footer__text_text {
}
